<% my_question = params[:question] %>
<div class="sidekick">
  <%= my_question %>
  <p>-You</p>
</div>
<br>
<br>
<% if params[:question] == "I am going to work" %>
  <% answer = "Great!" %>
<% elsif params[:question].include?("?") %>
  <% answer = "Silly question, get dressed and go to work!" %>
<% else %>
  <% answer = "I don't care, get dressed and go to work!" %>
<% end %>
<div class="answer sidekick">
  <b><%= answer %></b>
  <p>-Your coach</p>
</div>

<%= link_to "Ask a new question", ask_path %>
